.gpt3__header {
  display: flex;
  flex-direction: column;
}

.gpt3__header-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.gpt3__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: -0.04rem;
}

.gpt3__header-content p {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.gpt3__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

.gpt3__header-content__input input {
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-size: 14px;
    line-height: 24px;
  background: #052d56;
  border: 2px solid #052d56;
  padding: 0 1rem;
  outline: none;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.gpt3__header-content__input button {
  width: 150px;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  background: #ff4820;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0 1rem;
  border-radius: 5px;
}

.gpt3__header-content__people {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.gpt3__header-content__people img {
  height: 38px;
}

.gpt3__header-content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #fff;
  text-align: center;
}

.gpt3__header-image {
  width: 40%;
  display: none;
  justify-content: center;
  align-items: center;
}

.gpt3__header-image img {
  width: 100%;
}

@media (min-width: 550px) {
  .gpt3__header h1 {
    font-size: 3rem;
    line-height: 60px;
  }

  .gpt3__header p {
    font-size: 1rem;
    line-height: 24px;
  }

  .gpt3__header-content__people p {
    margin: 0;
  }

  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 700px) {
  .gpt3__header h1 {
    font-size: 3.875rem;
    line-height: 4.6875rem;
  }

  .gpt3__header p {
    font-size: 1.25rem;
    line-height: 1.6875rem;
  }
}

@media (min-width: 1100px) {
  .gpt3__header {
    flex-direction: row;
  }

  .gpt3__header-content {
    margin-right: 5rem;
  }

  .gpt3__header-image {
    display: flex;
  }

  .gpt3__header-content__people {
    flex-direction: row;
  }

  .gpt3__header-content__people p {
    margin-left: 1rem;
  }
}